<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Music makes me free APP
  </h1>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/admin">Songs <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/song">Rock Songs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/add">Add Song</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>

